draft/*
**/*~
.env
/data/

# vim swap files
**/*~

# environment file
.env

# Intellij IDE
.idea/

# pycache
**/__pycache__/

# built package
dist/

# pytest-cov coverage files
.coverage*

# quarto github page related
/.quarto/
/_site/

# quarto artifacts
report_files/**/*
report/docs/**/*

# rtd build files
docs/_build/