name: ci

on: [push]

jobs:

  unit-and-build-test:
    # Set up operating system
    runs-on: ubuntu-latest

    outputs:
      wheelfile: ${{ steps.wheel-name.outputs.WHEELFILE }}

    # Define job steps
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Check-out repository
        uses: actions/checkout@v3

      - name: Install poetry
        uses: snok/install-poetry@v1

      - name: Install package
        run: poetry install

      - name: Install pandoc
        run: sudo apt-get update && sudo apt-get install -y pandoc

      - name: Install tectonic
        run: sudo snap refresh && sudo snap install tectonic

      - name: Test with pytest (skip integration tests)
        run: poetry run pytest --cov -m "not integration"

      - name: Test package building process
        run: rm -rf ./dist && poetry build --format wheel --output dist

      - name: Get built wheel path
        id: wheel-name
        run: echo "WHEELFILE=$(ls dist/*.whl)" >> "$GITHUB_OUTPUT"

      - name: Upload test build as artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-wheel
          path: dist/${{ steps.wheel-name.outputs.WHEELFILE }}

  wheel-install-test:
    runs-on: ubuntu-latest
    needs: [unit-and-build-test]
    steps:
     - name: Set up Python
       uses: actions/setup-python@v4
       with:
         python-version: "3.12"

     - name: Download built wheel
       uses: actions/download-artifact@v4
       with:
         name: test-wheel

     - name: Test pip install local wheel
       run: pip install -U wheel ${{needs.unit-and-build-test.outputs.wheelfile}}